{% extends "base.html" %}

{% block app_content %}

    <h1>Восстановление пароля</h1>
    {% if args['email'] %}
    <form action="" method="post">
        {{ email_form.hidden_tag() }}
        <div>{{ email_form.email.label }}</div>
        <div>
            {{ email_form.email }}
            {% for error in email_form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>{{email_form.submit_email}}</div>
    </form>
    {% endif %}

    {% if args['code'] %}
    <form action="" method="post">
        {{ code_form.hidden_tag() }}
        <div>{{ code_form.code.label }}</div>
        <div>
            {{ code_form.code }}
            {% for error in code_form.code.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>{{code_form.submit_code}}</div>
    </form>
    {% endif %}

{% endblock %}